for exec in ~/bin/*.exe; do
  cmd=${exec##*/}
  cmd=${cmd%.exe}
  eval "alias $cmd='winwrap $cmd'"
done

alias vim=nvim
alias emman="emman.rb format --search"

alias splitv="tmux split-window -v"
alias dshell="docker run --rm -it --entrypoint=sh"
